html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

* {
    font-family: 'Roboto', sans-serif;
}

*a {
    text-decoration: none;
}

.row {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #676767;
    position: relative;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    height: auto;
}

/* Trang HOME */
/* Menu */
#top .left-page {
    padding: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    margin: 0;
}

#top .right-page {
    position: absolute;
    right: 0;
    margin: 0;
}

#top #logo {
    width: auto;
    max-width: none;
    display: block;
    line-height: 22px;
    font-size: 22px;
    letter-spacing: -1px;
    color: #444;
    font-family: 'Open Sans';
    font-weight: 600;
    padding: 30px 20px 30px 20px;
}

#top #logo .retina-logo,
#top .span_3 #logo .mobile-only-logo {
    display: none
}

#top #logo .starting-logo {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0
}

#top #logo:hover,
#top #logo:focus {
    color: #000
}

#top #logo img {
    text-indent: -9999px;
    max-width: none;
    width: auto;
    margin-bottom: 0;
    display: block;
    transition: opacity 0.4s ease
}

#top {
    position: relative;
    z-index: 9998;
    width: 100%
}

#top .container .row {
    padding-bottom: 0
}

#top .col-md-2 {
    width: 275px;
}

.menu {
    position: relative;
    max-height: 450px;
    margin-left: 15px;
    display: block;
}

.menu ul li ul {
    align-items: baseline;
    margin-left: 40px;
}

.menu ul li {
    text-transform: none;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.menu ul li a {
    color: black;
    padding: 1px 8px 1px 8px;
}

.menu ul li a:hover {
    background: blue;
    color: white;
    width: fit-content;
    position: relative;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu ul li {
    display: inline-block;
}

.icon-menu {
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.icon-menu i {
    margin-right: 20px;
}

.icon-menu i:hover {
    color: #1239ff !important;
    background-color: black;
    padding: 6px;
    border-radius: 4px;
}

/* Content */
.content-head {
    position: relative;
}

.content-head .center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 90%;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: 500;
    vertical-align: middle;
}

.content-head img {
    width: 100%;
    height: auto;
}

.content-head .center h1 {
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 77px;
    line-height: 77px;
    font-weight: 300;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.content-head .center p {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: 500;
}

/* Scroll  */
.content-head a {
    position: absolute;
    bottom: 20px;
    left: 49%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none !important;
    transition: opacity .3s;
}

.content-head a:hover {
    opacity: .5;
}

html {
    scroll-behavior: smooth;
}

#section01,
#section02 {
    position: relative;
    width: 100%;
    height: 100%;
}

#section01::after,
#section02::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
}

#section01 a {
    padding-top: 60px;
}

#section01 a span {
    position: absolute;
    top: 0;
    width: 30px;
    height: 46px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}

#section01 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.content-body .title h2 {
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 46px;
    line-height: 56px;
    font-weight: 100;
    text-align: center;
    padding: 40px 0px;
}

/* .content-body{
    
} */

.content-body .content {
    background-image: url("../image/homepage_team_001.jpg");
    background-size: cover;
    background-origin: padding-box;
    color: white;
    background-blend-mode: darken;
    margin-left: 0;
    display: flex;
    align-items: center;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
}

.content-body .content .text {
    border: 3px solid blue;
    width: fit-content;
    padding: 10px 20px;
    margin-top: 50px;
}

.content-body .content .text:hover {
    background-color: blue;
}

.content-body .content .info {
    width: 90%;
}

.content-body .content .info h3 {
    letter-spacing: 0px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
}

.content-body .content .info h5 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
}

.content-body .content .info p {
    line-height: 30px;
    padding-bottom: 30px;
}

.content-body .content {
    padding: 40px;
    margin: 0;
}

.content-body .content h2 {
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 46px;
    line-height: 56px;
    font-weight: 100;
}

.content-body .content h5 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
}

.content-last {
    height: auto;
    width: 100%;
    color: black;
    background-color: white;
    opacity: 0.8;
    padding: 0;
}

.content-last .carousel-item {
    height: 400px;
    text-align: center;

}

.content-last .carousel-item .text {
    padding: 60px 140px 0px 140px;
    text-transform: none;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
}

.content-last .carousel-item .title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-style: italic;
}


.text-carousel h5 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 100px;
    color: black;
}

.carousel-caption h5 {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
    color: black;
}

.carousel-caption p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-style: italic;
    color: gray;
}

hr.rounded {
    border-top: 2px solid #299999 !important;
    width: 80px;
    height: 2px;
    margin-bottom: 20px;
    transform: scale(1, 1);
    visibility: visible;
    margin-left: 46%;
}

.footer {
    width: 100%;
}

.footer img {
    margin-bottom: 20px;
}

.footer .text1 {
    margin-left: 40px;
}

.footer .text2 h6 {
    color: black;
    margin-left: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.footer .col-md-3 a {
    text-decoration: none;
    color: #9b9b9b !important;
}

.footer {
    color: #9b9b9b !important;
    line-height: 30px;
}

/* Trang ABOUT */
/* Head */
.ad-title {
    width: 100%;
}

.ab-title h1 {
    display: inline-block;
    top: 0;
    text-align: center;
    width: 100%;
    padding-left: 0;
    font-family: Roboto;
    text-transform: capitalize;
    color: #444;
    letter-spacing: 0px;
    font-size: 77px;
    line-height: 77px;
    font-weight: 300;
    padding: 30px 0px 10px 0px;
}

.ab-content {
    background-image: url("../image/about_header_001.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    width: -webkit-fill-available;

}

.ab-content .content {
    height: 500px;
    text-align: -webkit-center;
}

.ab-content .content h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 0px;
    font-size: 70px;
    line-height: 70px;
    font-weight: 100;
    width: 60%;
    margin: 0;
    position: relative;
    top: 30%;
}

.ab-content1 {
    width: 100%;
    margin: 100px 0 20px 0;
}

.ab-content1 row {
    margin: 0;
}

.ab-content1 .text {
    width: 90%;
    padding: 20px;
}

.ab-content1 .text h6 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
}

.ab-content1 .text h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 46px;
    line-height: 56px;
    font-weight: 100;
}

.ab-content1 .text p {
    font-family: 'Roboto', sans-serif;
    color: #676767;
    line-height: 32px;
}

.ab-content1 .img1 {
    position: absolute;
    left: 32%;
    top: 10%;
}

.ab-content1 .img2 {
    position: absolute;
    top: 42%;
    left: 20%;
}

.ab-content1 .img3 {
    position: absolute;
    left: 50%;
    top: 50%;
}

.ab-content1 .img4 {
    position: absolute;
    left: 25%;
    top: 10%;
}

.ab-content1 .img5 {
    position: absolute;
    top: 42%;
    left: 10%;
}

.ab-content1 .img6 {
    position: absolute;
    left: 40%;
    top: 50%;
}

.ab-content1 .box2 {
    margin-top: 140px;
    margin-bottom: 100px;
}

.ab-content1 .box2 .text {
    text-align: right;
}

.ab-content2 {
    background-color: #f9f7f5 !important;
    width: 100%;
    margin: 0;
}

.ab-content2 .content1 .wrap {
    min-height: 450px;
}

.ab-content3 {
    width: 100%;
    margin: 0;
}

.ab-content2 .title,
.ab-content3 .title {
    text-align: center;
    margin-top: 150px;
}

.ab-content2 .title h5,
.ab-content3 .title h5 {
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    color: #999999;
    margin: 0;
}

.ab-content2 .title h2,
.ab-content3 .title h2 {
    font-family: Roboto;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 46px;
    line-height: 56px;
    font-weight: 100;
    margin-top: 10px;
}

.ab-content2 .content1 {
    margin: 90px 0 140px 0;
}

.ab-content2 .content1 .row {
    margin-bottom: 40px;
}

/* Flip box */
.flip-box {
    background-color: transparent;
    width: 90%;
    height: 450px;
    max-height: auto;
    perspective: 1000px;
    margin-left: 5%;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    justify-content: center;
    align-items: center;
}

.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-box-front span,
.flip-box-back span {
    width: 70%;
    line-height: 30px;
}

.flip-box-front {
    background-color: rgb(0, 0, 0);
    color: white;
}

.flip-box-front i {
    font-size: 20px !important;
    line-height: 20px !important;
    color: #299999;
    margin: 23px 10px 0 0;
}

.flip-box-back {
    background-color: rgb(43, 157, 206);
    color: white;
    transform: rotateY(180deg);
}

/* Content3 About */

.ab-content3 .content .row {
    margin: 0;
    padding: 0;
}

.ab-content3 .content {
    padding: 3%;
}

.ab-content3 .content a {
    text-decoration: none;
}

.ab-content3 .title {
    margin-bottom: 100px;
}

.ab-content3 {
    margin-bottom: 50px;
}

/* Slider About */

.text-carousel .title h5 {
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    color: #999999;
    margin: 0;
}

.text-carousel .title h2 {
    font-family: Roboto;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 46px;
    line-height: 56px;
    font-weight: 100;
    margin-top: 10px;
    text-align: center;
}

/* Member Brands */
.ab-content4 {
    width: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #eaf1fd 0%, rgba(255, 255, 255, 0.001) 75%);
    opacity: 1;
    background: #eaf1fd;
    background: linear-gradient(to bottom, #eaf1fd 0%, rgba(255, 255, 255, 0.001) 100%);
    opacity: 1;
    margin-bottom: 100px;
}

.ab-content4 .title {
    margin-top: 100px;
}

.ab-content4 .title h2 {
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 46px;
    line-height: 56px;
    font-weight: 100;
    text-align: center;

}

.ab-content4 .row {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 100px;
    color: white;
}

.ab-content4 i {
    font-size: 30px;
    color: orange;
    background-color: aliceblue;
    border: 5px solid transparent;
    border-radius: 3px;
}

.ab-content4 .bg1 {
    width: 90%;
    background-image: url("../image/about-007.jpeg");
    background-repeat: no-repeat;

    min-height: 400px;
    margin: 0;
    padding: 10%;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-left: 15%;
}

.ab-content4 .bg1:hover {
    transition: transform 1s ease, opacity 0.5s ease 0.25s;
}

.ab-content4 .bg2 {
    width: 90%;
    background-image: url("../image/about-008.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    margin: 0;
    padding: 10%;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-left: 10%;
}

.ab-content4 .bg2 i {
    margin-top: 160px;
}

.ab-content4 .bg2 h3 {
    margin-bottom: 0px;
}

.ab-content4 .bg3 {
    width: 90%;
    background-image: url("../image/about-009.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    margin: 0;
    padding: 10%;
    margin-left: 5%;
    border: 1px solid transparent;
    border-radius: 8px;
}

.ab-content4 .bg4 {
    width: 90%;
    background-image: url("../image/about-010.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    padding: 10%;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 8px;
}

/* Trang Synthesis */
.mainsyn {
    margin-top: 5px;
}

.mainsyn .wrap img {
    margin: 5px 0;
}

.footsyn {
    background-color: #0a0a0a;
    opacity: 0.8;
    color: white;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 10px;
}

.footsyn .text {
    padding: 20%;

}

.footsyn h5 {
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
}

.footsyn h2 {
    font-family: Roboto;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 46px;
    line-height: 56px;
    font-weight: 100;
    margin-top: 0;
}

.footsyn .text p {
    border: 3px solid blue;
    width: fit-content;
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: 40%;
}

.footsyn .text p:hover {
    background-color: blue;
}

/* Trang Nectar Into the trees */
.tree-section1 {
    background-color: rgb(48, 48, 48);
    height: 500px;
    opacity: 1;
    position: relative;
    visibility: visible;
    display: block;
    width: 100%;
    color: white;
    text-align: center;
}



.tree-section1 .text h1 {
    font-family: Roboto;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 77px;
    line-height: 77px;
    font-weight: 300;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tree-section1 span {
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tree-section2 {
    text-align: center;
    width: 100%;
    background-color: rgb(248, 248, 248);

}

.tree-section2 h5 {
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    margin: 100px 0 0 0;
}

.tree-section2 h2 {
    font-family: Roboto;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 46px;
    line-height: 56px;
    font-weight: 100;
    margin: 10px 0 30px 0;
}

.tree-section2 p {
    width: 45%;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    color: #676767;
    margin-bottom: 100px;
}

.tree-section3 {
    width: 100%;
    text-align: center;
    position: relative;
    display: -webkit-inline-box;
}

.tree-section3 .text1 {
    background-color: #3f59ff;
    width: 100%;
    height: 588px;
}

.tree-section3 .text1 i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 15em;
}

.tree-section3 .text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tree-section3 .text2 h2 {
    font-family: Roboto;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 46px;
    line-height: 56px;
    font-weight: 100;
    color: #ffffff;
    background-color: #299999 !important;
    padding: 10px 20px;
}

.tree-section4 {
    text-align: center;
    background-color: rgb(48, 48, 48);
    height: 600px;
    position: relative;
    width: 100%;
}

.tree-section4 .iconplay i {
    color: #ffffff;
    font-size: 6em;
}

.tree-section4 .iconplay i:hover {
    opacity: 0.5;
}

.tree-section4 .iconplay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tree-section5 {
    width: 100%;
    height: 600px;
    padding: 0;
}

.tree-section5 .content-last {
    width: 90%;
    margin-left: 5%;
    position: absolute;
    margin-top: -70px;
    background-color: #ffffff;
    opacity: 1;
}

.tree-section5 .content-last .carousel-item .text {
    padding: 40px 270px 0px 270px;
    text-transform: none;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
}

.tree-section6 {
    width: 100%;
    height: 500px;
    padding: 0;
    background-color:#3f59ff;
    margin-bottom: 80px;
    position: relative;
}

/* .tree-section6 .textbox p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4em;
    border: 8px solid white;
    padding: 30px 50px;
}

.tree-section6 .textbox p:hover {
    background-color: white;
    color: #3f59ff;
} */

* {
    margin: 0;
    padding: 0;
}

.tree-section6 .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    /*Inline-Block*/
}

.tree-section6 .container .box {
    position: relative;
    width: 500px;
    height: 150px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 10px;
}

.tree-section6 .container .box .icon {
    font-family: Roboto;
    width: 100%;
    height: 100%;
    border: 8px solid white;
    transition: 0.3s;
    transform-origin: top;
    transform: translateY(0px) rotateX(0deg);
}

.tree-section6 .container .box:hover .icon {
    transform: translateY(100%) rotateX(90deg);
}

.tree-section6 .container .box .icon .text{
    font-family: Roboto;
    font-size: 4em;
    line-height: 100px;
    margin: 0;
    padding: 20px 0;
    color: white;
}

.tree-section6 .container .box .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px solid white;
    background: white;
    transition: 0.3s;
    transform-origin: bottom;
    transform: translateY(-100px) rotateX(90deg);
}

.tree-section6 .container .box:hover .details {
    transform: translateY(0) rotateX(0deg);
}

.tree-section6 .container .box .details h3{
    margin: 0;
    padding: 0;
    line-height: 100px;
    font-size: 4em;
    color: #3f59ff;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
}